Requirements
============
Operating Systems
-----------------
Supported
~~~~~~~~~~~~~~~~~

sgENERATE was made to work on the following systems:

 * ubuntu-latest



Python Versions
-----------------

Python versions currently supported:

 * Python 3.9
 * Python 3.8
 * Python 3.7

Other dependencies
-------------------

All dependencies are managed with conda


.. WARNING::

   conda installation is required priori to installing sgENERATE
   see: `Conda documentation <https://conda.io/projects/conda/en/latest/user-guide/install/index.html>`_


